# MyBot.run AUTOIT .gitignore file

# Global Files
/.project
*.ini
*.log
*.orig
*.png
*.jpg
*.exe
*.bmp

# Global Folders
[Pp]rofiles/
[Tt]emplates/
[Tt]emp/
[Bb]ackup/

# Obsolete Files and Folders
[Ll]oots/
[Aa]llTowns/

# Exclusion Curl (used for PushBullet)
![Cc]url.exe

# Exclusion language ini files
![Ll]anguages/*.ini

# Exclusion Images/Icon
![Ii]mages/logo.jpg
![Ii]mages/2arrow.jpg
![Ii]mages/MyBot.ico
![Ii]mages/Button/Traps.png
![Ii]mages/Button/Xbow.png
![Ii]mages/Button/Inferno.png
![Ii]mages/Button/BoostBarrack.png
![Ii]mages/Button/BoostAllBarracks.png
![Ii]mages/Button/BarrackBoosted.png
![Ii]mages/Resources/Collect/*.png
![Ii]mages/Resources/Collect/*.bmp
![Ii]mages/Resources/LootCart/loot_cart.png
![Ii]mages/Resources/Obstacles/*.png
![Ii]mages/Resources/Tombs/*.png
![Ii]mages/Resources/GemBox/*.png
![Ii]mages/WeakBase/Eagle/*.png
![Ii]mages/WeakBase/Infernos/*.png
![Ii]mages/WeakBase/Mortars/*.png
![Ii]mages/WeakBase/WTower/*.png
![Ii]mages/WeakBase/Xbow/*.png
![Ii]mages/Walls/*.jpg
![Ss]trategies/*.ini
# ignore test strategies
[Ss]trategies/[Tt]est*.ini
[Ss]trategies/[Ss]trategy 2016*.ini

![Ii]mages/Storages/Gold/*.png
![Ii]mages/Storages/Elixir/*.png

# Debug
[Ll]ib/[Dd]ebug/
[Ll]ib/[Tt]est.txt
EnableMBRDebug.txt

# SQL (not in use)
*.sqlite3
*.db

# Release files
LastVersion*.txt
TestVersion*.txt
